{% extends 'blog/base.html' %}
{% csrf_token %}

{% block content %}	
	{{ item.title }} <br>
	{{ item.content }} <br>
	<img src="{{ item.link_to_image }}" alt=""> <br>
	{{ item.create|timesince }} <br>

<div class="fb-comments" data-href="http://127.0.0.1:8000/detail" data-numposts="5"></div>
	
	
	{% if user.is_authenticated %}
		<a href="{% url "deleted" pk=item.pk %}" class="btn btn-success">Delete</a>
		<a class="btn btn-default" href="{% url 'post_edit' item.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
	{% endif %}
{% endblock content %}


